# FLF lattices to recognizer output-like FSAs

[*]
lexicon-file				=
corpus-file				=
log-file				=

flf-archive				=
fsa-archive				=

pronunciation-scale			=


# ---------------------------------------------------------------------------
[*]
log-channel.file			= $(log-file)
error.channel				= log-channel, stderr
warning.channel				= log-channel, stderr
log.channel				= log-channel #, stdout
progress.channel      			= log-channel, stdout
statistics.channel			= log-channel
configuration.channel   		= log-channel
system-info.channel     		= log-channel
encoding				= utf-8
unbuffered				= true
ignore-unknown-parameters		= true
on-error				= immediate-exit


# ---------------------------------------------------------------------------
[*.lexicon]
file					= $(lexicon-file)
read-only				= true


# ---------------------------------------------------------------------------
[*.corpus]
file					= $(corpus-file)
warn-about-unexpected-elements		= no
capitalize-transcriptions		= no


# ---------------------------------------------------------------------------
[*.network]
initial-nodes				= speech-segment


[*.network.speech-segment]
type					= speech-segment
links					= 0->archive-reader:1 0->archive-writer:1


[*.network.archive-reader]
type					= archive-reader
links					= archive-writer
format					= flf
path					= $(flf-archive)
flf.partial.keys			= am lm
info					= false


[*.network.archive-writer]
type					= archive-writer
links					= sink
format					= lattice-processor
path					= $(fsa-archive)


[*.network.sink]
type					= sink
warn-on-empty-lattice			= true
error-on-empty-lattice			= false
