# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/openephyra/nbproject/private/
detect
*~

# Folders
vision/pkgconfig/opencv.pc
kernels/dnn/example-setup/
kernels/dnn/rwth-asr-0.6.1/src/
*/doc/*
*/bin/*
*/log/*

# Datasets
wiki_indri_index/
gmm_data.txt
