# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.class

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.log

# Datasets/databases/other
*.pb.*
*.pb
*.pickle
small_db
gen-*
*.tar.gz
