@charset "euc-jp";

a:link {
  text-decoration: none;
 color: #006699;
}
a:visited {
  text-decoration: none;
 color: #cccccc;
}

a:active {
  text-decoration: none;
 color: #ff0;
}

a:hover, a:focus {
 color: #000;
 text-decoration: underline;
}

body {
  font-family         : 'Lucida Sans Unicode', Verdana, 'ΣιΞ넘Ⅴ Pro W3', 'ΣιΞ넘Ⅴ3', sans-serif;
  font-size           : 10pt;
  line-height         : 145%;
  background-color    : #ffffff;
  color               : #001100;
  border-style: none;
  margin: 2em 2em 2em 2em;
}

p {
 padding: 0.2em 0.2em 0.0em 1.2em;
}

li {
 padding: 0.1em 0.2em 0.0em 0em;
}


h1 {
  font-family         : 'ΣιΞ넘Ⅴ Pro W6', 'ΣιΞ넘Ⅴ6', Verdana, sans-serif;
 margin: 0.2em 0.2em 0.2em 0.2em;
  text-align: left;
  font-size: 150%;
 color: #000;
  font-weight: bold;
}

h2 {
  font-family         : 'ΣιΞ넘Ⅴ Pro W6', 'ΣιΞ넘Ⅴ6', Verdana, sans-serif;
 margin: 1.0em 0.1em 0.2em 0.4em;
 padding: 3px;
  font-size: 120%;
  border-color: #99cccc;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}

h3 {
  font-family         : 'ΣιΞ넘Ⅴ Pro W6', 'ΣιΞ넘Ⅴ6', Verdana, sans-serif;
 margin: 0.2em 0.1em 0.2em 0.8em;
 padding: 3px;
  font-size: 110%;
  border-style: dotted;
  border-color: #99cccc;
  border-width: 0px 0px 1px 0px;
}

pre {
 white-space: pre;
 margin: 0.1em 0.2em 0.8em 1.3em;
 padding: 5px;
 line-height         : 100%;
 border-width: 1px 1px 3px 1px;
 border-style: double solid double solid;
 border-color: #cccccc;
 overflow: auto;
 background-color: #fcfcfc;
}

table {
  font-family         : 'Lucida Sans Unicode', Verdana, 'ΣιΞ넘Ⅴ Pro W3', 'ΣιΞ넘Ⅴ3', sans-serif;
  font-size: 80%;
  margin: 0.2em 0.2em 0.2em 2em;
  line-height: 120%;
  border-width: 0em;
  border: 0em;
}

table tr.odd {
      	background-color: #e0e0de;
	vertical-align: top;
	border-spacing: 1em;
}

table tr.even {
	background-color: #efefde;
	vertical-align: top;
	border-spacing: 1em;
}

ol, dl {
  list-style-position : outside;
  margin: 0.2em 0.2em 0.2em 2em;
}

hr {
  color               : #003300;
  height              : 1px;
}

textarea {
  margin-left: 1em; 
  width: 92%;
  border-style: solid solid solid solid;
  border-color: #cccccc;
  border-width: 1px 1px 1px 1px; 
}

div.section p {
  line-height: 1.3em;
  margin-left: 10px;
}

div.section p a, a:visited{
 color: #006699;
}


div.body dl {
  margin-left: 2em;
}

div.body dt {
  margin-bottom: 0.2em;
  font-weight: bold;
}

div.body dd {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

div.body blockquote {
  border-width: 3px 0px 1px 0px;
  border-style: solid solid solid solid;
  border-color: #191970;
  background-color: transparent;
  color: #191970;
  font-style:italic;
  padding: 8px;
}

div.main {
 width: 80%;	
 float: left;
}

div.sidebar {
 float: right;
 width: 19%;
 border-style: solid;
 margin-left: 1%
 margin-top: 0.5em;
 border-width: 0 0 0 0px;
}

div.sidebar li { font-size: smaller; 	list-style-type: disc; margin-left: -0.8em; }

div.sidebar h2 { font-size: 90%;
 border-width: 0px 0px 1px 0px;
}
div.sidebar h3 { font-size: 90%; }

div.book { margin-top: 1em; margin-bottom: 1em; margin-right: 20%;
 margin-left: 20%; width: 60%; height: 60%; float: center; }

