# Ignore thrift-generated code
/gen-*/
/gen-*/** # not sure if this adds anything

# Ignore command center executables
ccclient
ccserver

# Ignore other files
*.wav
*.jpg
*.html
/js/**
/archive/**
/node_modules/**
