DESCRIPTION = feature-extraction.plp

include shared.config

# ---------------------------------------------------------------------------
[*.corpus]
file                            = $(CORPUS)
audio-dir                       = $(AUDIO_DIR)
warn-about-unexpected-elements  = no
capitalize-transcriptions       = no

[*.feature-extraction]
*.network-file-path             = $(SIGNAL_ANALYSIS)
file                            = $(SIGNAL_ANALYSIS)/shared/base.cache.flow
*.base-feature-extraction.file  = plp/plp.energy.flow
*.audio-format                  = wav

[*.base-feature-extraction-cache]
path                            = data/plp.features.recognition.cache

# ---------------------------------------------------------------------------

[*.channels]
output-channel.file             = log/$(DESCRIPTION).log.gz
output-channel.append           = false
output-channel.unbuffered       = false
output-cahnnel.compressed       = true
output-channel.encoding         = UTF-8

[*]
statistics.channel              = output-channel
system-info.channel             = output-channel
configuration.channel           = output-channel
log.channel                     = output-channel
progress.channel                = output-channel
warning.channel                 = output-channel, stderr
error.channel                   = output-channel, stderr

