DESCRIPTION=recognition-monophones

include shared.config
# ---------------------------------------------------------------------------

[*.corpus]
file                            = $(CORPUS)
audio-dir                       = $(AUDIO_DIR)
warn-about-unexpected-elements  = no
capitalize-transcriptions       = no

[*.lexicon]
file                            = $(LEXICON)
normalize-pronunciation         = true

[*.model-combination]
pronunciation-scale             = 1

[*.allophones]
add-from-lexicon                = true
add-all                         = false

[*.lm]
type                            = zerogram
scale                           = 1

[*.feature-extraction]
*.network-file-path             = $(SIGNAL_ANALYSIS)
file                            = $(SIGNAL_ANALYSIS)/shared/cache.concatenate-with-derivatives.linear-transform.energy.flow
*.linear-transform.file         = data/total-scatter-normalization.matrix

[*.base-feature-extraction-cache]
path                            = data/mfcc.features.recognition.cache
read-only                       = true

[*.mixture-set]
file                            = data/am.mono.7-3.mix
feature-scorer-type             = SIMD-diagonal-maximum
scale                           = 1.0

[*.acoustic-model.state-tying]
type                            = monophone

### acoustic model
[*.acoustic-model.hmm]
states-per-phone                = 3
state-repetitions               = 1
across-word-model               = no
early-recombination             = no

[*.acoustic-model.tdp]
scale                           = 1.0
*.loop                          = 3.0
*.forward                       = 0.0
*.skip                          = 3.0
*.exit                          = 45.0
entry-m1.loop                   = infinity
entry-m2.loop                   = infinity
silence.loop                    = 0.0001
silence.forward                 = 3.0
silence.skip                    = infinity
silence.exit                    = 15.0


# ---------------------------------------------------------------------------

[*]
search-type                     = word-conditioned-tree-search
evaluate-result                 = true

create-lattice                  = no
lattice-pruning                 = infinity
lattice-pruning-limit           = infinity
optimize-lattice                = no
time-conditioned-lattice        = no
store-lattices                  = no

tree-deletion-latency           = 1

acoustic-prepruning             = infinity
acoustic-pruning                = 1000
acoustic-pruning-limit          = 250000

lm-pruning                      = infinity
lm-pruning-limit                = infinity

lm-lookahead                    = no

#[*.lm-lookahead]
#history-limit                   = 0
#tree-cutoff                     = 30
#cache-size-low                  = 1000
#cache-size-high                 = 1500

# ---------------------------------------------------------------------------
[*]
statistics.channel              = output-channel
system-info.channel             = output-channel
configuration.channel		    = output-channel
log.channel                     = output-channel
warning.channel                 = output-channel, stderr
error.channel                   = output-channel, stderr
dot.channel                     = nil
progress.channel                = output-channel
real-time-factor.channel        = output-channel

output-channel.file     	= log/$(DESCRIPTION).log
output-channel.append   	= false
output-channel.encoding 	= UTF-8
output-channel.unbuffered 	= false
output-channel.compressed   = true
