# training corpus file (BLISS format)
CORPUS          = /work/speechcorpora/CMU_Census/xml/an4_test.20081021.corpus.gz

# directory containing audio files
AUDIO_DIR       = /work/speechcorpora/CMU_Census/audio/an4test_clstk

# pronunciation dictionary file (BLISS format)
LEXICON         = /work/speechcorpora/CMU_Census/xml/an4.20081021.lexicon

# directory containing the flow files
SIGNAL_ANALYSIS = ../signal-analysis/


