DESCRIPTION = cart-accumulate-$(ITER)
PREV_ITER   = $[$(ITER)-1, int]
include shared.config


[*]
action                          = accumulate-cart-examples

[*.cart-trainer]
example-file                    = data/cart.$(ITER).sum

# ---------------------------------------------------------------------------

[*.corpus]
file                            = $(CORPUS)
audio-dir                       = $(AUDIO_DIR)
warn-about-unexpected-elements  = no
capitalize-transcriptions       = no
progress-indication             = global

[*.lexicon]
file                            = $(LEXICON)
normalize-pronunciation         = true

[*.allophones]
add-from-lexicon                = true
add-all                         = false

[*.feature-extraction]
*.network-file-path             = $(SIGNAL_ANALYSIS)
file                            = $(SIGNAL_ANALYSIS)/shared/alignment.cache.flow
feature-extraction-setup.file   = shared/cache.lda.flow
*.lda.file                      = data/lda-$(PREV_ITER).matrix
*.lda-window.max-size           = 9
*.lda-window.right              = 4
*.base-feature-extraction-cache.path = data/mfcc.features.cache

[*.alignment-cache]
read-only                       = true
# ---------------------------------------------------------------------------

[*.acoustic-model.hmm]
states-per-phone                = 3
state-repetitions               = 1
across-word-model               = no
early-recombination             = no

[*.acoustic-model.tdp]
scale                           = 1.0
*.loop                          = 3.0
*.forward                       = 0.0
*.skip                          = 3.0
*.exit                          = 0.0
entry-m1.loop                   = infinity
entry-m2.loop                   = infinity

silence.loop                    = 0.0
silence.forward                 = 3.0
silence.skip                    = infinity
silence.exit                    = 6.0

# ---------------------------------------------------------------------------

[*.acoustic-model-trainer.channels]
output-channel.file             = log/$(DESCRIPTION).log
output-channel.append           = false
output-channel.unbuffered       = false
output-channel.compressed       = true
output-channel.encoding         = UTF-8

# ---------------------------------------------------------------------------

[*]
statistics.channel              = output-channel                    
system-info.channel             = output-channel
configuration.channel           = output-channel
log.channel                     = output-channel
progress.channel                = output-channel
warning.channel                 = output-channel, stderr
error.channel                   = output-channel, stderr

