DESCRIPTION = cart-estimate-$(ITER)

include shared.config


[*]
action                          = estimate-cart

[*.cart-trainer]
log-likelihood-gain.variance-clipping   = 5e-6
training-file                           = config/cart-questions.xml
example-file                            = data/cart.$(ITER).sum
decision-tree-file                      = data/cart.$(ITER).tree
cluster-file                            = data/cart.$(ITER).cluster 


# ---------------------------------------------------------------------------

[*.lexicon]
file                            = $(LEXICON)
normalize-pronunciation         = true

[*.allophones]
add-from-lexicon                = true
add-all                         = false

# ---------------------------------------------------------------------------

[*.acoustic-model.hmm]
states-per-phone                = 3
state-repetitions               = 1
across-word-model               = no
early-recombination             = no

[*.acoustic-model.tdp]
scale                           = 1.0
*.loop                          = 3.0
*.forward                       = 0.0
*.skip                          = 3.0
*.exit                          = 0.0
entry-m1.loop                   = infinity
entry-m2.loop                   = infinity

silence.loop                    = 0.0
silence.forward                 = 3.0
silence.skip                    = infinity
silence.exit                    = 6.0

# ---------------------------------------------------------------------------

[*.acoustic-model-trainer.channels]
output-channel.file             = log/$(DESCRIPTION).log
output-channel.append           = false
output-channel.unbuffered       = true
output-channel.compressed       = false
output-channel.encoding         = UTF-8

# ---------------------------------------------------------------------------

[*]
statistics.channel              = output-channel                    
system-info.channel             = output-channel
configuration.channel           = output-channel
log.channel                     = output-channel
progress.channel                = output-channel
warning.channel                 = output-channel, stderr
error.channel                   = output-channel, stderr

