include shared.config

[*.costa]
dump-lexicon.channel	= nil

# Should Costa look at all the audio files?
# If yes, Costa will use the Flow network specified under
# "feature-extraction" and configure it to each recording.  This is
# useful mainly to determine the correct duration and to spot any
# inaccessible files.
[*]
evaluate-recordings	= yes 

# Shall Costa compute statistics about the transcriptions?
# If yes, specify a Bliss lexicon under "lexicon".
lexical-statistics	= yes

# Shall Costa compute language model probabilities and perplexity?
# If yes, specify a language model under "lm".
lm-statistics		= no

[*.lexicon]
file	= $(LEXICON)

[*.lm]
type 	= zerogram

[*.corpus]
file		= $(CORPUS)
audio-dir	= $(AUDIO_DIR)
warn-about-unexpected-elements	= yes
capitalize-transcriptions	    = no

# Display a progress bar?
# Useful when "evaluate-recordings" is enabled
progress-indication             = global

[*.feature-extraction]
file		= config/test-audio.flow
*.input-type    = wav

[*.statistics]
dot.channel	= nil

[*.visitor]
dot.channel	= nil

[*]
log.channel           = output-channel
configuration.channel = output-channel
error.channel         = stderr
warning.channel       = stderr

[*.output-channel]
file            = log/costa.log.gz
compressed      = true
encoding        = utf-8


