DESCRIPTION=mixture-map

[*]
dump-state-tying.channel        = data/mixtures.map

# ---------------------------------------------------------------------------
include shared.config

[*.lexicon]
file                            = $(LEXICON)
normalize-pronunciation         = true

[*.allophones]
add-from-lexicon                = true
add-all                         = false

[*.acoustic-model.state-tying]
type = monophone

[*.acoustic-model.hmm]
states-per-phone                = 3
state-repetitions               = 1
across-word-model               = no
early-recombination             = no

# ---------------------------------------------------------------------------
[*]
statistics.channel              = output-channel
system-info.channel             = output-channel
configuration.channel           = output-channel
log.channel                     = output-channel
warning.channel                 = output-channel, stderr
error.channel                   = output-channel, stderr

