DESCRIPTION = lda-$(ITER)

include shared.config


[*.acoustic-model-trainer]
action  				                = estimate-lda

[*.lda-estimator]
reduced-dimesion        		        = 45
output-precision        		        = 20
*.verification-tolerance                = 1e13
results.channel                         = output-channel
between-class-scatter-matrix.channel    = output-channel
within-class-scatter-matrix.channel     = output-channel

[*.lda-estimator.generalized-eigenvalue-problem]
type                                    = general
driver                                  = expert
balancing                               = permute-and-scale
eigenvector-normalization-type          = unity-diagonal
normalize-eigenvectors-using-B          = yes
relative-imaginary-maximum              = 1e-100
condition-numbers.channel               = output-channel

[*.lda-estimator.eigenvalue-problem]
type                                    = symmetric
driver                                  = relatively-robust

[*.lda-estimator]
between-class-scatter-matrix-file       = xml:data/lda-$(ITER).between-class-scatter.matrix
within-class-scatter-matrix-file        = xml:data/lda-$(ITER).within-class-scatter.matrix
projector-matrix-file                   = xml:data/$(DESCRIPTION).matrix


# ---------------------------------------------------------------------------

[*.acoustic-model-trainer.channels]
output-channel.file             = log/$(DESCRIPTION).log
output-channel.append           = false
output-channel.unbuffered       = true
output-channel.compressed       = false
output-channel.encoding         = UTF-8

# ---------------------------------------------------------------------------

[*]
statistics.channel              = output-channel                    
system-info.channel             = output-channel
configuration.channel           = output-channel
log.channel                     = output-channel
progress.channel                = output-channel
warning.channel                 = output-channel, stderr
error.channel                   = output-channel, stderr

