DESCRIPTION                 = nn-normalization
include nn-setup.config

[*]
action                      = supervised-training
trainer                     = mean-and-variance-accumulator
single-precision            = false
num-classes                 = 100 # number of monophone states (33 phonemes x 3 states + silence x 1 state)

#*.mean-file                 = data/mean
#*.standard-deviation-file   = data/standard-deviation

[*.state-tying]
type                        = monophone

[*.neural-network]
links                       = 0->dummy-layer:0

[*.dummy-layer]
layer-type                  = identity
dimension-input             = $(num-classes) 
dimension-output            = $(num-classes) 

[*.channels]
output-channel.file         = log/$(DESCRIPTION).log
