include shared.config

[*.corpus]
file                            = $(CORPUS)
audio-dir                       = $(AUDIO_DIR)
warn-about-unexpected-elements  = no
capitalize-transcriptions       = no
progress-indication             = global

[*.lexicon]
file                            = $(LEXICON)
normalize-pronunciation         = true

[*.allophones]
add-from-lexicon                = true
add-all                         = false

[*.feature-extraction]
*.network-file-path             = $(SIGNAL_ANALYSIS)
file                            = $(SIGNAL_ANALYSIS)/shared/alignment.cache.flow
#feature-extraction-setup.file   = shared/cache.concatenate-with-derivatives.flow
feature-extraction-setup.file   = shared/cache.concatenate-with-derivatives.window.flow
#*.base-feature-extraction-cache.path = data/mfcc.features.cache

[*.alignment-cache]
#path                            = data/alignment.cache
read-only                        = true

[*.state-tying]
type                            = decision-tree
#file                            = data/cart

# ---------------------------------------------------------------------------

[*.channels]
output-channel.append           = false
output-channel.unbuffered       = true
output-channel.compressed       = false
output-channel.encoding         = UTF-8

# ---------------------------------------------------------------------------

[*]
statistics.channel              = output-channel                    
system-info.channel             = output-channel
configuration.channel           = output-channel
log.channel                     = output-channel
progress.channel                = output-channel
warning.channel                 = output-channel, stderr
error.channel                   = output-channel, stderr
