DESCRIPTION                 = nn-training-$(network-type)
include nn-setup.config
include config/nn-network.$(network-type).config

[*]
action                      = supervised-training
trainer                     = feed-forward-trainer
training-criterion          = cross-entropy
estimator                   = steepest-descent

batch-size                  = 64
buffer-size                 = 15000000
shuffle                     = true # randomize vectors within a buffer

#momentum-factor             = 0.9
#regularizer                 = l2-regularizer
#regularization-constant     = 1e-4
