DESCRIPTION = total-scatter-estimation

include shared.config

# ---------------------------------------------------------------------------
[*.feature-statistics]
action                               = estimate-covariance-and-pca
covariance-estimator.file            = xml:data/$(DESCRIPTION).cov.matrix
*.projector-matrix-file              = xml:data/$(DESCRIPTION).matrix
#*.reduced-dimesion                  = 20   # fixed PCA dim.
#*.reduced-dimesion-threshold        = 1.0  # drop dimensions with eigenvalues lower than threshold
*.variance-proportion                = 0.95 # number of PC corresponds to 95% of total variance

[*.covariance-estimator]
shall-normalize                      = yes

[*.pca-estimator]
output-precision                     = 20
results.channel                      = output-channel

[*.pca-estimator.eigenvalue-problem]
type                                 = symmetric
driver                               = relatively-robust

# ---------------------------------------------------------------------------

[*.corpus]
file                                 = $(CORPUS)
audio-dir                            = $(AUDIO_DIR)
warn-about-unexpected-elements       = no
capitalize-transcriptions            = no

[*.feature-extraction]
*.network-file-path                  = $(SIGNAL_ANALYSIS)
file                                 = $(SIGNAL_ANALYSIS)/shared/cache.flow
#*.base-feature-extraction-cache.path = data/mfcc.features.cache

[*]
output-channel.file                  = log/$(DESCRIPTION).log.gz
output-channel.append                = false
output-channel.encoding              = UTF-8
output-channel.compressed            = true

statistics.channel                   = output-channel
system-info.channel                  = output-channel
configuration.channel                = output-channel
log.channel                          = output-channel
progress.channel                     = output-channel
warning.channel                      = output-channel, stderr
error.channel                        = output-channel, stderr

