DESCRIPTION = total-scatter-normalization

# ---------------------------------------------------------------------------
[*.feature-statistics]
action                          = calculate-covariance-diagonal-normalization

# ---------------------------------------------------------------------------
[*.covariance-diagonal-normalization]
output-precision                = 20

[*]
covariance-file                 = xml:data/total-scatter-estimation.matrix
normalization-file              = xml:data/$(DESCRIPTION).matrix

# ---------------------------------------------------------------------------
[*]
output-channel.file                     = log/$(DESCRIPTION).log
output-channel.append                   = false
output-channel.encoding                 = UTF-8
output-channel.compressed               = true

statistics.channel                      = output-channel
system-info.channel                     = output-channel
configuration.channel                   = output-channel
log.channel                             = output-channel
progress.channel                        = output-channel
warning.channel                         = output-channel, stderr
error.channel                           = output-channel, stderr

