DESCRIPTION = total-scatter-estimation

include shared.config

# ---------------------------------------------------------------------------
[*.feature-statistics]
action                          = estimate-covariance
covariance-estimator.file       = xml:data/$(DESCRIPTION).matrix

[*.covariance-estimator]
shall-normalize = yes

# ---------------------------------------------------------------------------

[*.corpus]
file                            = $(CORPUS)
audio-dir                       = $(AUDIO_DIR)
warn-about-unexpected-elements  = no
capitalize-transcriptions       = no
progress-indication             = global

[*.feature-extraction]
*.network-file-path             = $(SIGNAL_ANALYSIS)
file                            = $(SIGNAL_ANALYSIS)/shared/cache.concatenate-with-derivatives.flow
*.base-feature-extraction-cache.path = data/mfcc.features.cache

[*]
output-channel.file             = log/$(DESCRIPTION).log.gz
output-channel.append           = false
output-channel.encoding         = UTF-8
output-channel.compressed       = true

statistics.channel              = output-channel
system-info.channel             = output-channel
configuration.channel           = output-channel
log.channel                     = output-channel
progress.channel                = output-channel
warning.channel                 = output-channel, stderr
error.channel                   = output-channel, stderr

