DESCRIPTION = warping-factor-gmm

include config/shared.config

[*.corpus]
file                            = $(CORPUS)
audio-dir                       = $(AUDIO_DIR)
warn-about-unexpected-elements  = no
capitalize-transcriptions       = no
progress-indication             = global

[*.lexicon]
file                            = $(LEXICON)
normalize-pronunciation         = true

[*.allophones]
add-from-lexicon                = true
add-all                         = false

[*.mixture-set-trainer]
covariance-tying                = mixture-specific-covariance
feature-scorer-type             = diagonal-maximum

[*.feature-extraction]
*.audio-format                  = wav
*.network-file-path             = $(SIGNAL_ANALYSIS)
file                            = $(SIGNAL_ANALYSIS)/vtln/features.cache.labels.flow
*.linear-transform.file         = data/total-scatter-normalization.matrix
*.cache.path                    = data/mfcc-d-a.train.cache
# ---------------------------------------------------------------------------
[*.acoustic-model.hmm]
states-per-phone                = 3
state-repetitions               = 1
across-word-model               = no
early-recombination             = no

[*.acoustic-model.tdp]
scale                           = 1.0
*.loop                          = 3.0
*.forward                       = 0.0
*.skip                          = 3.0
*.exit                          = 0.0
entry-m1.loop                   = infinity
entry-m2.loop                   = infinity

silence.loop                    = 0.0
silence.forward                 = 3.0
silence.skip                    = infinity
silence.exit                    = 6.0

# ---------------------------------------------------------------------------

[*.acoustic-model-trainer.channels]
output-channel.file             = log/$(DESCRIPTION).log
output-channel.append           = true
output-channel.unbuffered       = false
output-channel.compressed       = false

# ---------------------------------------------------------------------------

[*]
statistics.channel              = output-channel                    
system-info.channel             = output-channel
configuration.channel           = output-channel
log.channel                     = output-channel
progress.channel                = output-channel
warning.channel                 = output-channel, stderr
error.channel                   = output-channel, stderr
