.ngg-galleryoverview {
    overflow: hidden;
    margin-top: 10px;
    width: 100%;
    clear: both;
    display: block !important
}
.ngg-galleryoverview .desc {
    margin: 0 10px 10px 0;
    padding: 5px;
}
.ngg-gallery-thumbnail-box {
    float: left;
    margin-right: 5px;
}
.ngg-template-caption .ngg-gallery-thumbnail-box {
    margin-right: 0;
}
.ngg-gallery-thumbnail {
    float: left;
    text-align: center
}
.ngg-gallery-thumbnail img {
    background-color: #fff;
    border: 1px solid #a9a9a9;
    display: block;
    margin: 4px 0 4px 4px;
    padding: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative
}
.ngg-gallery-thumbnail img:hover {
    background-color: #a9a9a9
}
.ngg-gallery-thumbnail span {
    font-size: 90%;
    padding-left: 5px;
    display: block
}
.ngg-galleryoverview ul li:before {
    content: '' !important
}
.ngg-gallery-list {
    list-style-type: none;
    padding: 0 !important;
    text-indent: 0 !important
}
.ngg-galleryoverview div.pic img {
    width: 100%;
    border: 0;
    border-radius: 0
}
.ngg-gallery-list li {
    float: left;
    margin: 0 2px 0 2px !important;
    overflow: hidden
}
.ngg-gallery-list li a {
    border: 1px solid #ccc;
    display: block;
    padding: 2px
}
.ngg-gallery-list li.selected a {
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #000 none repeat scroll 0 0
}
.ngg-gallery-list li img {
    height: 40px;
    width: 40px
}
li.ngg-next,
li.ngg-prev {
    height: 40px;
    width: 40px;
    font-size: 3.5em
}
li.ngg-next a,
li.ngg-prev a {
    padding-top: 10px;
    border: 0;
    text-decoration: none
}