# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Executables
surf-fe
surf-fd
gmm_scoring
stem_porter
regex_slre

# Folders
tau/
*/crfsuite-0.12*
*/bits/*

# Datasets
*/input/*
