# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Executables
surf-fe
surf-fd
gmm_scoring
stem_porter
regex_slre
crfsuite
dnn-asr

# Folders
tau/
*/bits/*

# Datasets
*/input/*
*/model/*
