# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Executables
surf-fe
surf-fd
gmm_scoring
stem_porter
regex_slre
crf_tag
dnn_asr

# Folders
tau/
*/bits/*

# Datasets
gmm_data.txt
# */input/*
# */model/*
