# comment2
; comment3
% comment4

[*.test-1]
bool			= true
flavour			= vanilla       
float			= 0.456

[*.test-2]
bool			= false
flavour			= coconut
float			= 1.456

[*]
int			= 2
string			= foobar
results.channel		= results.log

[*]
#channels.stdout.file		= check.out


[*]
#A.B			= C
#A.A.B			= D
A.A.A.B			= E
A.*.A.B			= F
A.*.*.A.B		= G
A.*.C			= 1
A.*.C.*.C		= 2
