Flask==0.10.1
Flask-WTF==0.12
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pysha3==0.3
Werkzeug==0.11.4
WTForms==2.1
wheel
requests
six
zope.interface
TorThrift
futures
pymongo
rauth
flask-login
config
thrift
ws4py
pyyaml
jsonlib2
numpy
scipy
scikit-learn
pandas
