# Object files
*.o
*.ko
*.obj
*.class

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Executables
*.out
match

# Folders
*/bin/*
**/log/*
*/doc/*
**/input/*
bits/

# Datasets/databases
wiki_indri_index/
*.pb
*.pickle
