body {
       background-color: #FFFFFF;
}

address {
   font-size: smaller;
   font-weight: bold;
}

pre { 
	color: DarkBlue;
	font-family: monospace;
        padding: 0.5em;
        margin-left: 0.5em;
        background: #eeeeee;
}

code {
        border-style: solid;
        padding-left: 1ex;
        border-width: 0 0 0 medium;
        border-color: #8888ff;
        text-decoration: underline;
	color: DarkGreen;
	font-family: monospace; 
}

H1 {
       font-weight: bold;
       font-family: helvetica;
       font-variant: normal;
       font-style: normal
}
