{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<p style="color:gray">Main » Create</p>
	</div>

	<div class="container">
		<div class="row">
			<p><h3>List of Services</h3></p>
		</div>
	</div>

	<div class="container">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Service name</th>
					<th>Host</th>
					<th>Port</th>
					<th>Use Only?</th>
				</tr>
			</thead>
			<tbody>
				{% for i in service_list %}
				<tr>
					<td>{{ i[0] }}</td>
					<td>{{ i[1] }}</td>
					<td>{{ i[2] }}</td>
					<form action="" method="post" enctype="multipart/form-data">
						<input name="op" type="hidden" value="use_only"></input>
						<input name="service_name" type="hidden" value="{{ i[0] }}"></input>
						<td><input type="submit" value="Use Only" class="btn btn-info btn-sm"</td>
					</form>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>
{% endblock %}
