{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<p style="color:gray">Main » Create</p>
	</div>

	<div class="container">
		<div class="row">
			<p><h3>List of Services</h3></p>
		</div>
	</div>

	<div class="container">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Service name</th>
					<th>Host</th>
					<th>Port</th>
				</tr>
			</thead>
			<tbody>
				{% for i in service_list %}
				<tr>
					<td>{{ i[0] }}</td>
					<td>{{ i[1] }}</td>
					<td>{{ i[2] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>
{% endblock %}
