{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1><center>Welcome to Lucida!</center></h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4" style="background-color: #FF9999"><h4><center>Create</center><h4></div>
		<div class="col-md-4" style="background-color: #F2F5A9"><h4><center>Learn</center><h4></div>
		<div class="col-md-4" style="background-color: #99CCFF"><h4><center>Infer</center><h4></div>
	</div>

	<br>

	{% if not session['logged_in'] %}
		<div class="row">
			<p class="lead">Please sign up or log in to start. </p>
		</div>
	{% else %}
		<div class="row">
			<p class="lead">Click "Create", "Learn", or "Infer" above. </p>
		</div>		
	{% endif %}
</div>

<div class="container">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10" style="background-color: #B8D192">
			<h4><center>Lucida: Infrastructure to Study Emerging Intelligent Web Services</center></h4>
			<p>As Intelligent Personal Assistants (IPA) such as Apple Siri, Google Now, Microsoft Cortana, and Amazon Echo continue to gain traction, webservice companies are now providing image, speech, and natural language processing web services as the core applications in their datacenters. These emerging applications require machine learning and are known to be significantly more compute intensive than traditional cloud based web services, giving rise to a number of questions surrounding the designs of server and datacenter architectures for handling this volume of computation.</p>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>

<br>
{% endblock %}
