{% extends "base.html" %}

{% block content %}

{% if dates %}
<meta id="dates" data-name="{{ dates }}"> <!-- passed to calendar.js -->
<script src="https://apis.google.com/js/client.js?onload=checkAuth&output=embed"></script>
<script src="{{ url_for('static', filename='js/calendar.js')}}"></script>
{% endif %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/asr.css')}}">

<div class="container">
	<div class="row">
		<p style="color:gray">Main » Infer</p>
	</div>

	<div class="container">
		<div class="row">
			<p><h3>Ask a question:</h3></p>
		</div>
	</div>

	<div class="container">
		<form id="infer_form" method="post" enctype="multipart/form-data">
			<input name="op" type="hidden" value="infer" />

			<div class="form-group">
				<label>Image input</label>
				<input id="image_input" type="file" name="file" size="60">
				<p class="help-block">Upload your picture!</p>
			</div>

			<div class="form-group">
				<label>Speech input</label>
			</div>
	</div>

	{% if error %}
	<strong class=text-danger><p class="error">{{ error }}</p></strong>
	{% endif %}
</div>

<div class="blended_grid">
	<div class="containerResponse">
		<table style="width:800px" align="center">
			<tr>
				<td>
					<div id="recbutton" class="disabled" onclick="clearTranscription(); toggleListening();"></div>
				</td>
				<td><div class="wrap">
						<textarea id="trans" name="speech_input" form="infer_form"></textarea>
					</div>
				</td>
				<td><div class="wrapr">
						<textarea readonly id="clinc" style="margin-right: 10px">{% if result %}{{ result }}{% endif %}</textarea>
					</div>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<img src="{{ url_for('static', filename='image/user.png')}}" style="float: left; width: 70px;">
				</td>
				<td>
				 	<img src="{{ url_for('static', filename='image/lucida.jpg')}}" style="float: right; width: 80px;">
				</td>
			</tr>
			<tr>
				<td></td>
				<td colspan="2">
				<br><br>


			<div class="form-group">
				<input id="file_submit" type="submit" value="Ask" class="btn btn-info">
			</div>
		</form>


				<center>
					Powered by <a href="http://lucida.ai">Lucida</a>
				</center>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<br>
					<a href="http://lucida.ai">
					<img src="{{ url_for('static', filename='image/lucida.jpg')}}" style="float: right; width: 100px; margin-right: 65px">
					</a>
				</td>
				<td>
					<br>
					<a href="http://djinn.clarity-lab.org">
					<img src="{{ url_for('static', filename='image/djinn.png')}}" style="float: left; width: 100px; margin-left: 5px">
					</a>
				</td>

		  </tr>
		</table>
	</div>

	<div class="pageFooter" style="margin-bottom: 0px">
		<span id="serverStatusBar" title="Number of available workers"></span>
		<select style="display: none;" id="servers" name="servers" style="margin-top:0em">
			<option value="{{ asr_addr_port }}/client/ws/speech|{{ asr_addr_port }}/client/ws/status" selected="selected">Lucida</option>
		</select>

		<p style="clear: both;">

		<pre id="log"></pre>
	</div>
</div>

<script src="{{ url_for('static', filename='js/dictate.js')}}"></script>
<script src="{{ url_for('static', filename='js/recorder.js')}}"></script>
<script src="{{ url_for('static', filename='js/recorderWorker.js')}}"></script>
<script src="{{ url_for('static', filename='js/mob.js')}}"></script>
<script src="{{ url_for('static', filename='js/resultSpeaker.js')}}"></script>
<script type="text/javascript">
var speakable = "{{ result }}";
if (speakable !== "" && speakable !== "None") {
	textToVoice("{{ result }}");
}
</script>
{% endblock %}
