body {
	background-color: White;
}

code {
        border-style: solid;
        padding-left: 1ex;
        border-width: 0 0 0 medium;
        border-color: #8888ff;
        text-decoration: underline;
	color: DarkGreen;
	font-family: monospace; 
}

address {
   font-size: smaller;
   font-weight: bold;
}


pre {
	font-family: monospace;
	border-style: solid;
	border-color: #D2F3DA;
	color: #000000;
	background-color:#EEFFF7;	
	white-space: pre;
	margin-right: 4.0em;
	margin-left: 3.5em;
	padding: 0.5em 2em;
}

h1 {
        text-align: center;
        border-color: #666666;
        border-style: solid;
        border-width: 1px 0 1px 0;
        margin: 0.6em 20% 1.2em 1%;
        padding: 0.2em 0 0.2em 0em;
}

h2 {
	text-align: left;
	border-style: solid;
	color: 	#1C5F30;
	text-indent: 0.5em;
	padding: 0.2em 0.1em;
	border-style: solid;
	border-color: #D2F3DA;
	border-width: 0 0 0 0;
	background-color:#DEFFE7;
}

a:link  {
        color: #8888FF;
}

a:active {
	color: #8888ff;
}

a:hover {
	background: #EAEAEA;
}

a:visited {
        color: #cc66cc;
} 
