Flask==0.12.1
Flask-Login==0.4.0
Flask-WTF==0.14.2
Jinja2==2.9.6
MarkupSafe==1.0
WTForms==2.1
Werkzeug==0.12.1
argparse==1.1
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
cached-property==1.3.0
certifi==2017.1.23
config==0.3.9
defer==1.0.4
docker-compose==1.12.0
docker-py==1.10.6
dockerpty==0.4.1
docopt==0.6.2
functools32==3.2.3.post2
futures==3.0.5
greenlet==0.4.12
html5lib==0.999999999
httplib2==0.10.3
ipaddress==1.0.18
itsdangerous==0.24
jsonlib2==1.5.2
jsonschema==2.6.0
oauthlib==2.0.2
piston-mini-client==0.7.5
pyOpenSSL==16.2.0
pycrypto==2.6.1
pymongo==3.4.0
pyserial==3.3
pysha3==1.0.2
python-dateutil==2.6.0
python-memcached==1.58
pytz==2017.2
pyxdg==0.25
rauth==0.7.3
reportlab==3.4.0
requests==2.13.0
scipy==0.19.0
singledispatch==3.4.0.3
six==1.10.0
supervisor==3.3.1
texttable==0.8.8
thrift==0.10.0
tornado==4.4.3
torthrift==0.1.9
urllib3==1.20
virtualenv==15.1.0
websocket-client==0.40.0
wheel==0.29.0
ws4py==0.4.2
numpy==1.12.1
scikit-learn==0.18.1
pandas==0.19.2