<!doctype html>
<head>
<br>
<title>Sirius</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="static/cover.css" rel="stylesheet">
<style type='text/css'>
  ul { list-style: none; }
  #recordingslist audio { display: block; margin-bottom: 4px; margin: 0 auto; }
</style>
</head>

<body>
  {% block body %}
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            {% if reply_line1 %}
              <h3 class="text-center" style="color: lightgreen;">{{ reply_line1 }}<br>{{ reply_line2 }}</h3>
            {% endif %}
          </div>
        </div>

        <div class="inner cover">
          <h1 class="cover-heading" style="color: #87CEFA">Sirius</h1>
          <p class="lead">
            <!-- Recording related stuff -->
            <button class="btn btn-info" onclick="startRecording(this);">Record</button>
            <button class="btn btn-info" onclick="stopRecording(this);" disabled>Stop</button>
            <h3>Recordings</h3>
            <ul id="recordingslist"></ul>
            <h3>Log</h3>
            <pre id="log"></pre>
            <!-- Recording related stuff -->

            <form method="post" role="form" class="form-inline">
              <button type="submit" class="btn btn-info">Ask!</button>
            </form>
          </p>
        </div>

        <a class="btn btn-info" href="/">Home</a>

        {% endblock %}
        <div class="mastfoot">
          <div class="inner">
            <p>&copy; Department of Computer Science and Engineering, University of Michigan</p>
          </div>
        </div>

      </div>
    </div>
  </div>

<script>
  function __log(e, data) {
    log.innerHTML += "\n" + e + " " + (data || '');
  }

  var audio_context;
  var recorder;

  function startUserMedia(stream) {
    var input = audio_context.createMediaStreamSource(stream);
    //__log('Media stream created.');

    // Uncomment if you want the audio to feedback directly
    //input.connect(audio_context.destination);
    //__log('Input connected to audio context destination.');
    
    recorder = new Recorder(input);
    __log('Recorder initialised.');
  }

  function startRecording(button) {
    recorder && recorder.record();
    button.disabled = true;
    button.nextElementSibling.disabled = false;
    __log('Recording...');
  }

  function stopRecording(button) {
    recorder && recorder.stop();
    button.disabled = true;
    button.previousElementSibling.disabled = false;
    __log('Stopped recording.');
    
    // create WAV download link using audio data blob
    createDownloadLink();
    
    recorder.clear();
  }

  function createDownloadLink() {
    recorder && recorder.exportWAV(function(blob) {
      var url = URL.createObjectURL(blob);
      var li = document.createElement('li');
      var au = document.createElement('audio');
      var hf = document.createElement('a');
      
      au.controls = true;
      au.src = url;
      hf.href = url;
      hf.download = new Date().toISOString() + '.wav';
      hf.innerHTML = hf.download;
      li.appendChild(au);
      li.appendChild(hf);
      recordingslist.appendChild(li);
    });
  }

  window.onload = function init() {
    try {
      // webkit shim
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
      window.URL = window.URL || window.webkitURL;
      
      audio_context = new AudioContext;
      //__log('Audio context set up.');
      //__log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
    } catch (e) {
      alert('No web audio support in this browser!');
    }
    
    navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
      __log('No live audio input: ' + e);
    });
  };
</script>

<script type=text/javascript src="{{ url_for('static', filename='recorder.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</body>
