[*]
# dry-run
dry				= false

# scoring; so far only ID3 is supported
scoring-function		= ID3

# training plan
training-file			=
# dump training setup
training.plain.channel		= nil
training.xml.channel		= nil

# examples
example-file			= 
# dump examples
example.plain.channel		= nil
example.xml.channel		= nil

# decision tree
decision-tree-file		= 
decision-tree.plain.channel	= nil
decision-tree.xml.channel	= nil
decision-tree.dot.channel	= nil

# clusters
cluster-file			= 
cluster.plain.channel		= nil
cluster.xml.channel		= nil
